In [ ]:
# importing required libraries
import pandas as pd

In [3]:
#Q1. Finding version of installed panadas
pd.__version__

'2.3.1'

In [2]:
# To get the view of the dataset by create a dataframe of the given dataset using pandas
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [42]:
#Q2.How many records are in the dataset?
df.shape[0]

9704

In [32]:
#Q3.How many fuel types are presented in the dataset?
df['fuel_type'].unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [31]:
#Q4. How many columns in the dataset have missing values?
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [27]:
# Q5.Finding the maximum fuel efficiency of cars from Asia?
df[df['origin']=='Asia']['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

In [54]:
# Q6.Median value of horsepower
# Find the median value of the horsepower column in the dataset.
median_before = df['horsepower'].median()
print("median before",median_before)

# Find the mode value of the horsepower column in the dataset.
mode_before = df['horsepower'].mode()[0]
print("mode before",mode_before)

# Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.

df['horsepower'].fillna(mode_before)
median_after = df['horsepower'].median()
print("median after",median_after)

median before 149.0
mode before 152.0
median after 149.0

In [57]:
#Q7. Sum of weights
import numpy as np

# Select all cars from Asia
asia_cars = df[df['origin'] == 'Asia']

# Select only columns 'vehicle_weight' and 'model_year'
X_df = asia_cars[['vehicle_weight', 'model_year']]

# Select the first 7 rows
X_df = X_df.head(7)

# Get underlying NumPy array
X = X_df.to_numpy()

# Compute XTX = X.T @ X
XTX = X.T @ X

# Invert XTX
XTX_inv = np.linalg.inv(XTX)

# Create array y
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# Compute w = (XTX)^(-1) * X.T * y
w = XTX_inv @ X.T @ y

# Sum all elements of w
sum_weights = np.sum(w)

print("Result w:", w)
print("Sum of all elements in w:", sum_weights)

Result w: [0.01386421 0.5049067 ]
Sum of all elements in w: 0.5187709081074016